* {
  padding: 0;
   margin: 0;
   box-sizing: border-box; /*como se van a comportar las prop de ancho y alto como se va dibujar o calcular esos bordes o dimensiones de las cajas que creamos*/
}

html,
body {
  background-color: #1b1b32;
}

.App {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  font-family: Lato, sans-serif;
}

.freecodecamp-logo-contenedor {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.freecodecamp-logo {
  height: 50px;
}

.contenedor-contador {
  height: 550px;
  min-width: 600px;
  display: flex; /*para tener los elementos en su linea individual*/
  flex-wrap: wrap; 
  flex-direction: column; /*para que se agrupen como una columna, es decir uno abajo del otro*/
  align-items: center;
  justify-content: center;
}